.error-number {
    font-size: 90px;
    line-height: 90px;
    margin: 20px 0;
    < < < < < < < HEAD = = = = = = =
    background-color: #73879C;
>>> >>> > ce0d80ff991c36b0d8c240f72f3662e1c98e3a1e
}